* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --background-color-blue: rgb(14, 106, 167);
}

.page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

/***** SIDEBAR ******/

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    padding: 15px;
    gap: 70px;
    background-color: var(--background-color-blue);
    color: white;
    width: 300px;
}

.branding-section {
    font-size: 2rem;
}

.navigation-section ul{
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
}

.settings-section ul {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.sidebar li {
    font-size: 1.5rem;
}

/***** HEADER *****/

.header {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    height: 150px;
    background-color: white;
    box-shadow: gray 0px 0px 5px;
    order: 1;
    justify-content: center;
    
}

.header-content {
    display: grid;
    grid-template: 1fr 1fr / 5fr 2fr;
    padding: 0px 40px 0px 40px;
    max-width: 1000px;
}

.search-bar {
    justify-self: start;
    align-self: center;
}

.user-info {
    justify-self: end;
    align-self: center;
}

.user-greeting {
    justify-self: start;
    align-self: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 15px;
}

.buttons button {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    background-color: var(--background-color-blue);
    color: white;
    place-self: center;
}

.search-bar input {
    display: grid;
    width: 400px;
}

/***** MAIN *****/

.main-content {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(202, 227, 236);
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr;
    padding: 40px;
}

.user-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: 1fr 30px;
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid orange;
    padding: 40px 30px 30px 30px;
}

.symbols {
    align-self: center;
    justify-self: end;
}

.project-name {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.projects-header {
    padding-bottom: 15px;
}



/***** OTHER *****/

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.inline {
    display: inline-block;
}