* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

.side-bar {
    grid-area: 1 / 1 / 2 / 2;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
}